<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliação Estudantes</title>

    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>

    <!-- Google Simbols -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!-- Css -->
    <link rel="stylesheet" href="/css/avEstudantes.css">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@500&display=swap"
        rel="stylesheet">

</head>

<body>

    <!-- Cabeçalho -->
    <div class="linha"> .</div>

    <header class="border-bottom bg-body-secondary eta">
        <div class="dash">
            <b>Dashboard</b>
            <a href="/" class="sair">
                <i class="material-symbols-outlined m-2"> Logout </i>
            </a>
        </div>
    </header>

    <nav class="navbar shadow bg-body-tertiary mt-2">
        <div class="container-fluid">
            <a class="cabeca navbar-brand" href="#">
                <img src="/img/logo_ets.png" alt="logo bosch-ets" class="etslogo">
            </a>
        </div>
    </nav>
    <!-- -------- -->

    <!-- Menu com click -->

    <aside class="sidebar shadow">
        <header class="sidebarheader">
            <img class="logo-img" src="/img/<%= session.foto %>" alt="foto do usuario">
        </header>
        <span class="edv2">
            <i class="material-symbols-outlined"> badge </i>
            <span><b class="edv">EDV:<%= session.edv %></b></span>
        </span>
        <nav>
            <form action="/homeprof" method="get">
                <button>
                    <span>
                        <i class="material-symbols-outlined"> home </i>
                        <span>Início</span>
                    </span>
                </button>
            </form>

            <form action="/addAluno" method="get">
                <button>
                    <span>
                        <i class="material-symbols-outlined"> school </i>
                        <span>Adicionar Aluno</span>
                    </span>
                </button>
            </form>
            <form action="/addProf" method="get">
                <button>
                    <span>
                        <i class="material-symbols-outlined"> person_add </i>
                        <span>Adicionar Instrutor</span>
                    </span>
                </button>
            </form>

            <form action="/addTurma" method="get">
                <button>
                    <span>
                        <i class="material-symbols-outlined"> group_add </i>
                        <span>Adicionar Nova Turma</span>
                    </span>
                </button>
            </form>

            <form action="/logout" method="get">
                <button>
                    <span>
                        <i class="material-symbols-outlined"> Logout </i>
                        <span>Sair</span>
                    </span>
                </button>
            </form>
        </nav>

    </aside>
    <!-- Menu p celular -->
    <button class="button-mobile" onclick="toggleMenu()">
        <i class="material-symbols-outlined"> menu </i>
        <span><b class="">Menu</b></span>
    </button>

    <nav class="menu-mobile" id="menu-mobile">
        <button class="close" onclick="toggleMenu()">
            <span>
                <i class="material-symbols-outlined"> close </i>
            </span>
        </button>

        <form action="/homeprof" method="get">
            <button>
                <span>
                    <i class="material-symbols-outlined"> home </i>
                    <span class="mobile-text">Início</span>
                </span>
            </button>
        </form>

        <form action="/addAluno" method="get">
            <button>
                <span>
                    <i class="material-symbols-outlined"> school </i>
                    <span class="mobile-text">Adicionar Aluno</span>
                </span>
            </button>
        </form>

        <form action="/addProf" method="get">
            <button>
                <span>
                    <i class="material-symbols-outlined"> person_add </i>
                    <span class="mobile-text">Adicionar Instrutor</span>
                </span>
            </button>
        </form>
        <form action="/addTurma" method="get">
            <button>
                <span>
                    <i class="material-symbols-outlined"> group_add </i>
                    <span class="mobile-text">Adicionar Turma</span>
                </span>
            </button>
        </form>
        <button>
            <span>
                <i class="material-symbols-outlined"> Logout </i>
                <span class="mobile-text">Sair</span>
            </span>
        </button>
    </nav>


    <!-- Main -->
    <div class="main">
        <form action="/AvaliacaoEstudantes/<%=Materia.IDMateria%>/<%=Aluno.IDAluno%>" method="post">
            <div class=" w-50 teste">
                <h2 class="tituli">
                    Avaliação <%= Aluno.Nome %>
                </h2>

                <table class="table table-bordered w-50">
                    <tr>
                        <td>
                            <b>Peso</b>
                        </td>
                        <td>
                            <b>Nome Competência</b>
                        </td>
                        <td>
                            <b>Situação Aluno</b>
                        </td>
                    </tr>
                    <%for(let i=0; i < Competencias.length; i++) { %>
                        <tr>
                            <td>
                                <%= Competencias[i]['Competencia.Peso'] %>
                            </td>
                            <td>
                                <%= Competencias[i]['Competencia.Nome'] %>
                            </td>
                            <td>
                                <select name="Situacao" id="situ" class="form-control">
                                    <option selected>
                                        <%= Competencias[i].Situacao %>
                                    </option>
                                    <option value="Apto">Apto</option>
                                    <option value="Inapto">Inapto</option>
                                    <option value="Em Desenvolvimento">Em Desenvolvimento</option>
                                </select>
                            </td>
                        </tr>
                        <% } %>
                </table>
            </div>
            <div class="w-50 Feedback mb-3">
                <h3>
                    Feedback:
                </h3>
                <textarea id="feedback" name="comentario" rows="4" cols="50"
                    placeholder="Deixe Aqui a sua anotação sobre o aluno."><%= Feedbacks.Descricao %></textarea>
            </div>
            <button type="submit" class="botao btn btn-secondary">Salvar Alterações</button>
        </form>
    </div>
    </div>
    <script src="js/menu.js"></script>
</body>

</html>